<table>
    <tr>
        <td>
            <FONT FACE="Cursive" SIZE=3 color="black">ZURISADDI REYES JUÁREZ</FONT>
            <br>
            <FONT FACE="verdana" SIZE=2 color="black">Licenciatura en ingenieria de Software</FONT>

        </td>
        <td>
            <img src="../assets/perfil.png" width="100" height="100">
        </td>

        <td>
            <img src="../assets/mensaje.png" align="center">
            <FONT FACE="verdana" SIZE=2 color="black">zuleyma.juarez_2002@hotmail.com</FONT>
            <br>
            <img src="../assets/telefono.png" align="center">
            <FONT FACE="verdana" SIZE=2 color="black">2712549895</FONT>
            <br>
            <img src="../assets/ubicación.png" align="center">
            <FONT FACE="verdana" SIZE=2 color="black">Amatlán de los Reyes, Veracruz</FONT>
            <br>
            <img src="../assets/instagram.png" align="center">
            <FONT FACE="verdana" SIZE=2 color="black">SaddaiRJ</FONT>
        </td>
        <td>
            
        </td>
    </tr>
</table>