<FONT FACE="Cursive" SIZE=4 color="white"><b><i> <img src="../assets/interes.png" align="center"> INTERESES </i></b>
</FONT>
<table border="0" align="center">
        <FONT FACE="verdana" SIZE=2.5 color="white"><b> Lectura | </b></FONT>
        <FONT FACE="verdana" SIZE=2.5 color="white"><b> Pintura | </b></FONT>
        <FONT FACE="verdana" SIZE=2.5 color="white"><b> Cocina  | </b></FONT>
        <FONT FACE="verdana" SIZE=2.5 color="white"><b> Naturaleza | </b></FONT>
        <FONT FACE="verdana" SIZE=2.5 color="white"><b> Música | </b></FONT>
        <FONT FACE="verdana" SIZE=2.5 color="white"><b> Estudio </b></FONT>
</table>
