<FONT FACE="Cursive" SIZE=4 color="white"><b><i> <img src="../assets/habilidad.png" align="center"> HABILIDADES Y COMPETENCIAS </i></b>
</FONT>
<table border="0">
    <blockquote>
        <tr>
            <td>
                <FONT FACE="verdana" SIZE=2 color="white">SQL Server</FONT>
            </td> <label for="file"></label> <progress id="file" max="100" value="80">80%</progress>
        </tr>
        <p>
        </p>
        <tr>
            <td>
                <FONT FACE="verdana" SIZE=2 color="white">My SQL</FONT>
            </td><label for="file"></label> <progress id="file" max="100" value="70">70%</progress>
        </tr>
        <p></p>
        <tr>
            <td>
                <FONT FACE="verdana" SIZE=2 color="white">JAVA</FONT>
            </td><label for="file"></label> <progress id="file" max="100" value="70">70%</progress>
        </tr>
        <p></p>
        <tr>
            <td>
                <FONT FACE="verdana" SIZE=2 color="white">Python</FONT>
            </td> <label for="file"></label> <progress id="file" max="100" value="70">70%</progress>
        </tr>
        <p></p>
        <tr>
            <td>
                <FONT FACE="verdana" SIZE=2 color="white">HTML</FONT>
            </td> <label for="file"></label> <progress id="file" max="100" value="60">60%</progress>
        </tr>
    </blockquote>
</table>
